/* .username { */
/*     border: 1px solid black; */

/* } */

/* .post { */
/*     border: 1px solid black; */

/* } */
.post {
    border-left: 1px solid black;
}
/* .username { */
/*     border-right: 1px solid black; */
/* } */
.row {
    display: flex;
}

.test {
    background-color: orange;
}

.Admin {
    background-color: red;
    border: 1px solid black;
}

.user {
    background-color: grey;
    border: 1px solid black;
}

.guest {
    background-color: green;
    border: 1px solid black;
}
