<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="./css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/main.css">

        <title>
            You posted!
        </title>
    </head>
    <body>
        <div class="container">
            {{> header active='{main:true}'}}
            {{> forumThread}}
            <div class="container-fluid">
                {{#each @root.posts}}
                <div class="row {{privilege}}">
                    <div class='clearfix col-md-2 username'>
                        {{privilege}}<br>
                        {{username}}
                    </div>
                    <div class="clearfix col-md-9 post">{{{userpost}}}</div>
                </div>
                {{/each}}
            </div>
            {{> forumPost}}
        </div>
    </body>
</html>
